sshhost: host1.example.com #host to connect by ssh. where the dump scripts wiil run
dbtype: postgres #postgres or mysql
dbuser: postgres #user whic can access roles
dbpassword: ***
dbserver: localhost #dtabase server address from the ssh host
dbport: 5432
include_databases: ['.*'] #regular expressions
exclude_databases: ['postgres.*', 'temp.*'] #regular expressions
structureonly: ['.*_teszt', '.*dev'] #databeses from the excluded databases where only the structure will be dumped
