# Don't delete any line from this!
dumpdestination: /backup/dump 
dconfigdir: /etc/bb/dumps
dconfigext: .yaml
dumperror: /backup/dumperror
sshattemptsmax: 20 #Number of trials to ssh connect
sshtimeout: 12
structureonly: null #in the server specific configs databeses from the excluded databases where only the structure will be dumped

