sshhost: host1.example.com #host to connect by ssh. where the dump scripts wiil run
dbtype: mysql #postgres or mysql
dbuser: root #user whic can access roles
dbpassword: ***
dbserver: localhost #dtabase server address from the ssh host
dbport: 3306
include_databases: ['.*'] #regular expressions
exclude_databases: ['postgres.*', 'temp.*'] #regular expressions
